# More on lists

## 1)List methods

1. append() - adds an element at the end of the list

In [5]:
list1 = [12,13,14,15] 
list1.append(16)
list1

[12, 13, 14, 15, 16]

2. extend() - add the elements of a list (or any iterable), to the end of the current list

In [7]:
fruits = ['apple', 'banana', 'cherry']
veggies = ['carrot', 'lettuce', 'onion']
fruits.extend(veggies) # add the elements of a list (or any iterable), to the end of the current list
fruits

['apple', 'banana', 'cherry', 'carrot', 'lettuce', 'onion']

3. insert() - adds an element at the specified position

In [16]:
list1.insert(2, 17) # insert an element at a given index
list1

[12, 13, 17, 17, 17, 17, 14, 15, 16]

4. remove() - removes the first item with the specified value

In [20]:
list1.remove(17)
list1

[12, 13, 14, 15, 16]

5. pop() - removes the element at the specified position

In [21]:
list1.pop(2) # remove the element at a given index, and return it

14

6. clear() - removes all the elements from the list

In [24]:
list1.clear() # remove all elements from the list
list1

[]

7. index() - returns the index of the first element with the specified value

In [ ]:
list1 = [12,13,14,15]
list1.index(13) # return the index of the first element with the specified value

1

8. count() - returns the number of elements with the specified value

In [28]:
list1.count(13) # return the number of elements with the specified value

1

9. sort() - sorts the list

In [34]:
list1 = [13,11,12,15,14]
list1.sort() # sort the list
list1

[11, 12, 13, 14, 15]

10. reverse() - reverses the order of the list

In [36]:
list1.reverse() # reverse the order of the list
list1

[11, 12, 13, 14, 15]

11. copy() - returns a copy of the list

In [39]:
list2=list1.copy() # return a copy of the list
list2

[11, 12, 13, 14, 15]

In [42]:
list2.append(16)
list2

[11, 12, 13, 14, 15, 16, 16, 16]

In [44]:
list1

[11, 12, 13, 14, 15]

## Using Stack as list

In [45]:
stack = [3, 4, 5]
stack.append(6)
stack.append(7)
stack

[3, 4, 5, 6, 7]

In [46]:
stack.pop()
stack

[3, 4, 5, 6]

In [47]:
stack.pop()

6

In [48]:
stack.pop()

5

In [49]:
stack

[3, 4]

## Using lists as queues

In [50]:
from collections import deque
queue = deque(["Eric", "John", "Michael"])
queue.append("Terry") # Terry arrives
queue.append("Graham") # Graham arrives
queue.popleft() # The first to arrive now leaves

'Eric'

In [51]:
queue.popleft() # The second to arrive now leaves

'John'

In [52]:
queue

deque(['Michael', 'Terry', 'Graham'])

## List Comprehensions

In [54]:
square = []
for i in range(10):
    square.append(i**2)
square

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [59]:
square = list(map(lambda x: x**2, range(10)))
square

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [61]:
square = [x**2 for x in range(10)]
square

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [63]:
combs = []
for x in [1,2,3]:
    for y in [3,1,4]:
        if x != y:
            combs.append((x, y))
combs

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [66]:
combs = [(x,y) for x in [1,2,3] for y in [3,1,4] if x != y]
combs

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [68]:
vec = [-4, -2, 0, 2, 4]
# create a new list with the values doubled
newvec = [x*2 for x in vec]
newvec

[-8, -4, 0, 4, 8]

In [70]:
neg = [-8, -4, 0, 4, 8]
# filter the list to exclude negative numbers
newneg = [x for x in neg if x > 0]
newneg

[4, 8]

In [72]:
# apply a function to all the elements
absss= [abs(x) for x in vec]
absss

[4, 2, 0, 2, 4]

In [74]:
# call a method on each element
freshfruit = ['  banana', '  loganberry ', 'passion fruit  ']
newfrt = [w.strip() for w in freshfruit]
newfrt

['banana', 'loganberry', 'passion fruit']

In [76]:
# create a list of 2-tuples like (number, square)
tupsqr = [(x,x**2) for x in range(5)]
tupsqr

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16)]