# Python Operators
Operators are used to perform operations on variables and values.

In the example below, we use the + operator to add together two values:

Python divides the operators in the following groups:

* Arithmetic operators
* Assignment operators
* Comparison operators
* Logical operators
* Identity operators
* Membership operators
* Bitwise operators

# Arithmetic Operators
Arithmetic operators are used with numeric values to perform common mathematical operations

In [7]:
x = 4
y = 2

# + Addition 
print("Addition =" , x + y)
#  - Subtraction
print("Subtraction =" ,x - y)
#  * Multiplication
print("Multiplication =" ,x * y)
#  / Division 
print("Division =" ,x / y)
#  % Modulus 
print("Modulus =" ,x % y)
#  ** Exponentiation
print("Exponentiation =" ,x ** y)
#  // Floor division
print("Floor division =" ,x // y)

Addition = 6
Subtraction = 2
Multiplication = 8
Division = 2.0
Modulus = 0
Exponentiation = 16
Floor division = 2

# Assignment Operators

In [8]:
# = 
x = 5
print("= ", x)

# +=
x += 3
print("+=", x)
x = x + 3
print("+=",x)

# -=
x -= 3
print("-=", x)
x = x - 3
print("-=", x)

# *=
x *= 3
print("*=",x)
x = x * 3
print("*=",x)

# /=
x /= 3
print("/=",x)
x = x / 3
print("/=",x)

# %=
x %= 3
print("%=",x)
x = x % 3
print("%=",x)

# //=
x //= 3
print("//=",x)
x = x // 3
print("//=", x)

# **=
x **= 3
print("**",x)
x = x ** 3
print("**",x)

=  5
+= 8
+= 11
-= 8
-= 5
*= 15
*= 45
/= 15.0
/= 5.0
%= 2.0
%= 2.0
//= 0.0
//= 0.0
** 0.0
** 0.0

# Logical Operators

In [1]:
# and 
# Returns True if both statements are true 
x = 7
if x < 5 and  x < 10:
    print("Hello")

In [6]:
# or 
# Returns True if one of the statements is true
x < 5 or x < 10

True

In [7]:
# not 
# Reverse the result, returns False if the result is true
not(x < 5 and x < 10)

True

# Comparison Operator

In [11]:
# == Equal 
x = 10
y = 5
a = 5
b = 5
print(x == y) # print False
print(a == b) # print True

False
True

In [16]:
# != Not equal 
x != y

True

In [17]:
# > Greater than 
x > y

True

In [19]:
# < Less than
x < y

False

In [20]:
# >= Greater than or equal to 
x >= y

True

In [21]:

# <= Less than or equal to
x <= y

False

# Identity Operators
Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location:

In [2]:
# is Returns True if both variables are the same object
x = 4
y = 4
x is y

True

In [3]:
# is not
# Returns True if both variables are not the same object
if x is not y:
    print("hello")

# Membership Operators
Membership operators are used to test if a sequence is presented in an object:

In [30]:
# in  Returns True if a sequence with the specified value is present in the object
List_variable = ['List', 'tuple','set', 'dictionary']
string = 'List' # a string to find in list_variable
string in List_variable # it prints True because it finds the "List" in list_variable

True

In [31]:
# not in Returns True if a sequence with the specified value is not present in the object
string not in List_variable

False