## Python Program to Add Two Numbers

In [1]:
num1 = 1.4
num2 = 4.5
sum = num1 + num2

print(sum)

5.9

#### By Taking User Input

In [2]:
num1 = float(input("Enter number 1 :"))
num2 = float(input("Enter number 2 :"))
sum = num1 + num2
print(sum)

Enter number 1 :12
Enter number 2 :1
13.0

## Python Program to Find the Square Root

In [3]:
num = int(input("Enter a number to find sqrt :"))
sqrt = num ** 0.5
print(sqrt)

Enter a number to find sqrt :12
3.4641016151377544

## Python Program to Calculate the Area of a Triangle

In [4]:
#In case base abd height are given
base = float(input("Enter base :"))
height = float(input("Enter height :"))
area = 0.5 * base * height
print(area)

Enter base :12
Enter height :1
6.0

In [5]:
# In case sides are given
side1 = float(input("Enter side 1 :"))
side2 = float(input("Enter side 2 :"))
side3 = float(input("Enter side 3 :"))
s = (side1 + side2 + side3) / 2
area = (s*(s-side1)*(s-side2)*(s-side3)) ** 0.5
print(area)

Enter side 1 :1
Enter side 2 :9
Enter side 3 :9
4.493050188902857

## Python Program to Solve Quadratic Equation

In [6]:
import cmath

a = float(input("Enter a :"))
b = float(input("Enter b :"))
c = float(input("Enter c :"))

# calculate the discriminant
d = (b**2) - (4*a*c)

# find two solutions
sol1 = (-b-cmath.sqrt(d))/(2*a)
sol2 = (-b+cmath.sqrt(d))/(2*a)

print("The solutions are :",sol1,sol2)

Enter a :9
Enter b :9
Enter c :9
The solutions are : (-0.5-0.8660254037844387j) (-0.5+0.8660254037844387j)

## Python Program to Swap Two Variables

In [8]:
#Using Third Variable
num1 = int(input("Enter number 1 :"))
num2 = int(input("Enter number 2 :"))
temp = num1
num1 = num2
num2 = temp
print("Number 1 :",num1)
print("Number 2 :",num2)

Enter number 1 :78
Enter number 2 :8
Number 1 : 8
Number 2 : 78

In [9]:
#Without using Third Variable 
num1 = int(input("Enter number 1 :"))
num2 = int(input("Enter number 2 :"))
num1 = num1 + num2
num2 = num1 - num2
num1 = num1 - num2
print("Number 1 :",num1)
print("Number 2 :",num2)

Enter number 1 :8
Enter number 2 :8
Number 1 : 8
Number 2 : 8

In [10]:
# By using multiplication and division
num1 = int(input("Enter number 1 :"))
num2 = int(input("Enter number 2 :"))
num1 = num1 * num2
num2 = num1 / num2
num1 = num1 / num2
print("Number 1 :",num1)
print("Number 2 :",num2)

Enter number 1 :8
Enter number 2 :8
Number 1 : 8.0
Number 2 : 8.0

In [11]:
# By using XOR operator it is the fastest method to swap two numbers in python but it works only for integers
num1 = int(input("Enter number 1 :"))
num2 = int(input("Enter number 2 :"))
num1 = num1 ^ num2
num2 = num1 ^ num2
num1 = num1 ^ num2
print("Number 1 :",num1)
print("Number 2 :",num2)

Enter number 1 :8
Enter number 2 :8
Number 1 : 8
Number 2 : 8

In [12]:
# By using pythonic way
num1 = int(input("Enter number 1 :"))
num2 = int(input("Enter number 2 :"))
num1,num2 = num2,num1
print("Number 1 :",num1)
print("Number 2 :",num2)

Enter number 1 :8
Enter number 2 :8
Number 1 : 8
Number 2 : 8

In [13]:
# By function
def swap(num1,num2):
    return num2,num1

num1 = int(input("Enter number 1 :"))
num2 = int(input("Enter number 2 :"))
num1,num2 = swap(num1,num2)
print("Number 1 :",num1)
print("Number 2 :",num2)

Enter number 1 :8
Enter number 2 :8
Number 1 : 8
Number 2 : 8

## Python Program to Generate a Random Number

In [14]:
import random

print(random.randint(0,9))
print(random.randrange(1,10,2))#It takes only integer values as arguments and it excludes the last value in the range 
print(random.random())#It generates a random floating point number between 0 and 1
print(random.uniform(1,10))#It generates a random floating point number between the given range
print(random.choice([1,2,3,4,5]))#It takes a sequence as an argument and returns a random element from the sequence
print(random.choice('Python'))#It takes a string as an argument and returns a random character from the string
print(random.sample([1,2,3,4,5],2))#It takes a sequence and a number as an argument and returns a list of specified length with random elements from the sequence
print(random.sample('Python',3))#It takes a string and a number as an argument and returns a list of specified length with random characters from the string

#Shuffle function
list = [1,2,3,4,5]
random.shuffle(list)#It takes a sequence as an argument and returns a sequence with elements in a random order
print(list)

0
9
0.09872453592766728
3.8462749787760897
3
h
[4, 5]
['y', 'n', 't']
[1, 4, 3, 2, 5]

## Python Program to Convert Kilometers to Miles

In [15]:
# 1 kilometer = 0.621371 miles
# 1 mile = 1.60934 kilometers

km = float(input("Enter distance in kilometers :"))
miles = km * 0.621371
print("Distance in miles :",miles)

Enter distance in kilometers :8
Distance in miles : 4.970968

## Python Program to Convert Celsius To Fahrenheit

In [16]:
# fahrenheit = celsius * 1.8 + 32
celsius = float(input('Enter temperature in Celsius: '))
fahrenheit = (celsius * 1.8) + 32
print("The temperature in Fahrenheit is :",fahrenheit)

Enter temperature in Celsius: 8
The temperature in Fahrenheit is : 46.4

## Python Program to Check if a Number is Positive, Negative or 0

In [17]:
num = float(input("Enter a number: "))
if num > 0:
   print("Positive number")
elif num == 0:
   print("Zero")
else:
   print("Negative number")

Enter a number: 8
Positive number

## Python Program to Check if a Number is Odd or Even

In [18]:
num = int(input("Enter a number: "))
if (num % 2) == 0:
   print(num,"is Even")
else:
   print(num,"is Odd")

Enter a number: 8
8 is Even

## Python Program to Check Leap Year

In [19]:
year = int(input("Enter a year: "))
if (year % 400 == 0) and (year % 100 == 0):
    print(year,"is a leap year")
elif (year % 4 == 0) and (year % 100 != 0):
    print(year,"is a leap year")
else:
    print(year,"is not a leap year")

Enter a year: 8
8 is a leap year

## Python Program to Find the Largest Among Three Numbers

In [20]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
num3 = int(input("Enter third number: "))
if (num1 >= num2) and (num1 >= num3):
    largest = num1  
elif (num2 >= num1) and (num2 >= num3):
    largest = num2
else:
    largest = num3
print("The largest number is",largest)

Enter first number: 8
Enter second number: 8
Enter third number: 8
The largest number is 8

## Python Program to Check Prime Number

In [21]:
num = int(input("Enter a number: "))
if num == 1:
    print(num,"is neither prime nor composite")
if num > 1:
    for i in range(2,num):
         if (num % i) == 0:
              print(num,"is not a prime number")
              break
    else:
         print(num,"is a prime number")

Enter a number: 8
8 is not a prime number

## Python Program to Print all Prime Numbers in an Interval

In [22]:
start = int(input("Enter start of range: "))
end = int(input("Enter end of range: "))
for num in range(start,end + 1):
    if num > 1:
        for i in range(2,num):
            if (num % i) == 0:
                break
        else:
            print(num)

Enter start of range: 8
Enter end of range: 8

## Python Program to Find the Factorial of a Number

In [23]:
num = int(input("Enter a number: "))

factorial = 1
for i in range(1,num + 1):
    factorial = factorial*i
print("The factorial of",num,"is",factorial)

Enter a number: 8
The factorial of 8 is 40320

## Python Program to Display the multiplication Table

In [24]:
num = int(input("Enter a number: "))

for i in range(1,11):
   print(num,"x",i,"=",num*i)

Enter a number: 8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

## Python Program to Print the Fibonacci sequence

In [25]:
num = int(input("How many terms? "))
n1, n2 = 0, 1
count = 0

# check if the number of terms is valid
if num <= 0:
    print("Please enter a positive integer")
# if there is only one term, return n1
elif num == 1:
    print("Fibonacci sequence upto",num,":")
    print(n1)
# generate fibonacci sequence
else:
    print("Fibonacci sequence:")
    while count < num:
        print(n1)
        nth = n1 + n2
        # update values
        n1 = n2
        n2 = nth
        count += 1

How many terms? 8
Fibonacci sequence:
0
1
1
2
3
5
8
13

## Python Program to Check Armstrong Number

In [26]:
num = int(input("Enter a number: "))

## counting the number of digits
# count = 0
# temp = num
# while temp > 0:
#     temp = temp // 10
#     count = count + 1
# print("The number of digits in the number are:",count)

# or
count = len(str(num))
## checking for armstrong number

sum = 0
temp = num
while temp > 0:
    digit = temp % 10
    sum += digit ** count
    temp //= 10

if num == sum:
    print(num,"is an Armstrong number")
else:
    print(num,"is not an Armstrong number")

Enter a number: 8
8 is an Armstrong number

## Python Program to Find Armstrong Number in an Interval

In [27]:
start = int(input("Enter start of range: "))
end = int(input("Enter end of range: "))
for num in range(start,end + 1):
    count = len(str(num))
    sum = 0
    temp = num
    while temp > 0:
        digit = temp % 10
        sum += digit ** count
        temp //= 10
    if num == sum:
        print(num)
    else:
        continue

Enter start of range: 8
Enter end of range: 8
8

## Python Program to Find the Sum of Natural Numbers

In [28]:
num = int(input("Enter a number: "))

sum = num*(num + 1)//2
print("The sum of first",num,"natural numbers is",sum)

Enter a number: 8
The sum of first 8 natural numbers is 36

In [29]:
#Other way
num = int(input("Enter a number: "))
sum = 0
for i in range(1,num + 1):
    sum += i
print("The sum of first",num,"natural numbers is",sum)

Enter a number: 8
The sum of first 8 natural numbers is 36

## Python Program to display the powers of 2 using anonymous function

In [31]:
terms = int(input("How many terms? "))

result = list(map(lambda x: 2 ** x, range(terms)))

print("The total terms are:",terms) 
for i in range(terms):
    print("2 raised to power",i,"is",result[i])

How many terms? 9

TypeError: ignored